#configfile
config.json
config.json.bk

# Dependencies
node_modules
node_modules.bk

# Logs
npm-debug.log

# Coverage
coverage
.nyc_output

# Editors
.vscode
.idea

# Misc
.DS_Store

# Local conf
conf/local.js


yarn-error.log
